table{
    border-collapse: collapse;
    background-color: rgb(243, 243, 243);
    width: 50%;
}

td, tr{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 25%;
}

button{
    background-color: rgb(117, 156, 228);
    
}