<h2> Cadastro de Cursos</h2>
<hr>
<form>
  <p>Descrição do assunto: <input type="text" name="descricao" [(ngModel)]="curso.descricao"></p>
  <p>Data Inicio: <input type="date" name="dataInicio" [(ngModel)]="curso.dataInicio"></p>
  <p>Data Fim: <input type="date" name="dataFim" [(ngModel)]="curso.dataFim"></p>
  <p>Quantidade de alunos: <input type="text" name="qtdAluno" [(ngModel)]="curso.qtdAluno"></p>
  <select [(ngModel)]="curso.categoria" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let categoriaitem of categorias"  [ngValue]="categoriaitem" >{{categoriaitem.descricao}}</option>
  </select>
  &nbsp;
  <!-- <p>Categoria: <input type="text" name="categoria" [(ngModel)]="curso.categoria"></p> -->
  <button type="button" (click)="cadastrar()">Cadastrar</button>
</form>

<h2> Cursos Cadastrados</h2>
<hr>
<table>

  <tr>
    <th>Descrição Assunto</th>
    <th>Data de inicio</th>
    <th>Data fim</th>
    <th>Quantidade de alunos</th>
    <th>Categoria</th>
    <th>Ações</th>
    <th></th>
  </tr>

  <tr *ngFor="let curso of cursos">
    <td>{{curso.descricao}}</td>
    <td>{{curso.dataInicio}}</td>
    <td>{{curso.dataFim}}</td>
    <td>{{curso.qtdAluno}}</td>
    <td>{{curso.categoria.descricao}}</td>
    <td><button type="button" (click)="atualizar(curso.id)">ATUALIZAR</button></td>
    <td><button type="button" (click)="remover(curso.id)">EXCLUIR</button></td>
  </tr>
</table>